In [2]:
import statsmodels.tools.eval_measures as sm
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [9]:
df = pd.read_csv("./data/dc_bikes_with_features.csv", parse_dates=['datetime'], dayfirst=True, index_col=0)
df

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,day,hour,minute,part_of_day
datetime,,,,,,,,,,,,,,,,,
2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3.0,13.0,16,2011,1,1,0,0,night
2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8.0,32.0,40,2011,1,1,1,0,night
2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5.0,27.0,32,2011,1,1,2,0,night
2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3.0,10.0,13,2011,1,1,3,0,night
2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0.0,1.0,1,2011,1,1,4,0,night
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2012-12-31 19:00:00,1,0,1,2,10.66,12.880,60,11.0014,NaN,NaN,156,2012,12,31,19,0,evening
2012-12-31 20:00:00,1,0,1,2,10.66,12.880,60,11.0014,NaN,NaN,104,2012,12,31,20,0,evening
2012-12-31 21:00:00,1,0,1,1,10.66,12.880,60,11.0014,NaN,NaN,67,2012,12,31,21,0,evening
2012-12-31 22:00:00,1,0,1,1,10.66,13.635,56,8.9981,NaN,NaN,43,2012,12,31,22,0,evening
2012-12-31 23:00:00,1,0,1,1,10.66,13.635,65,8.9981,NaN,NaN,28,2012,12,31,23,0,evening

In [10]:
df.columns

Index(['season', 'holiday', 'workingday', 'weather', 'temp', 'atemp',
       'humidity', 'windspeed', 'casual', 'registered', 'count', 'year',
       'month', 'day', 'hour', 'minute', 'part_of_day'],
      dtype='object')

In [11]:
df.index = df.index.to_series().dt.strftime('%d-%m-%y')

AttributeError: Can only use .dt accessor with datetimelike values

In [5]:
df_may_2011 = df[(df['year'] == 2011) & (df['month'] == 5)]

In [6]:
count_column_11 = df_may_2011['count']
count_column_11

datetime
2011-05-01 00:00:00      6
2011-05-01 01:00:00      6
2011-05-01 02:00:00      2
2011-05-01 04:00:00      2
2011-05-01 05:00:00      3
                      ...
2011-05-12 19:00:00    308
2011-05-12 20:00:00    205
2011-05-12 21:00:00    176
2011-05-12 22:00:00    106
2011-05-12 23:00:00     62
Name: count, Length: 743, dtype: int64

In [7]:
df_may_2012 = df[(df['year'] == 2012) & (df['month'] == 5)]

In [8]:
count_column_12 = df_may_2012['count']
count_column_12

datetime
2012-05-01 00:00:00     14
2012-05-01 01:00:00      5
2012-05-01 02:00:00      4
2012-05-01 03:00:00      4
2012-05-01 04:00:00      5
                      ...
2012-05-12 19:00:00    414
2012-05-12 20:00:00    293
2012-05-12 21:00:00    198
2012-05-12 22:00:00    105
2012-05-12 23:00:00     74
Name: count, Length: 744, dtype: int64